@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.conteiner{
    overflow-x: hidden;
    background-color: black;
}
main{
    position: relative;
    width: 100%;
}
.banner{
    position: relative;
    width:  100%;
    height: 80vh;
    background-color: black;
}
.banner img{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    opacity: .7;
    animation: banner 10s;
}

@keyframes banner{
    0%{
        opacity: .5;
    }
    50%{
        opacity: .6;
    }
    100%{
        opacity: .7;
    }
}
.icon-mobile{
    display: none;
    position: absolute;
    z-index: 160;
    font-size: 2rem;
    padding-left: 1rem;
    color: white;
    cursor: pointer;
}
.menu-mobile.active{
    visibility: visible;
    width: 10rem;
    height: 100vh;
    overflow-y: auto;
}
.menu-mobile{
    position: absolute;
    z-index: 150;
    border: rgb(73, 72, 72) solid 2px;
    width: 0rem;
    height: 0vh;
    visibility: hidden;
    overflow-y: hidden;
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(3, 3, 3, 0.315);
    gap: 1rem;
    transition: 1s;
}
.menu-mobile a{
    font-family: FreeMono, monospace;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .3rem;
    color: white;
}
.menu-mobile a:hover{
    font-family: FreeMono, monospace;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .3rem;
    color: white;
}
.menu-pc{
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(66, 66, 66, 0);
    gap: 1rem;
}

.menu-pc a{
    font-family: FreeMono, monospace;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .3rem;
    color: white;
}

.menu-pc a:hover{
    color: rgb(167, 167, 172);
    transition: color 3s;
}

.banner-text{
    position: absolute;
    height: 100%;
    top: 12rem;
    text-align: center;
    z-index: 80;
    width: 100%;
    color: white;
}

.banner-text h1{
    position: relative;
    font-family: Chalkduster, fantasy;
    font-weight: 400;
    font-size: 5rem;
    animation: text 2s;
}
.banner-text p{
    position: relative;
    font-family: FreeMono, monospace;
    animation: text 4s;
    font-size: 1.2rem;
}

@keyframes text{
    0%{
        right: 60rem;
        opacity: 0;
    }50%{
        opacity: .4;
    }
    100%{
        opacity: 1;
        right: 0;
    }
}

.banner-icons{
    position: absolute;
    height: 100%;
    margin-top: 10rem;
    text-align: center;
    top: 11rem;
    z-index: 100;
    width: 100%;
    color: white;
    font-size: 3rem;
    animation: icons 5s;
}
#html{
    color: orangered;
    padding-right: 1rem;
}
#css{
    color: cyan;
    padding-right: 1rem;
}

#js{
    color: yellow;
}

@keyframes icons{
    0%{
        opacity: 0;
    }50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.sobre-mim{
    background-color: black;
    height: 10rem;
    border-top: solid 5px;
    width: 100%;
}
@media (max-width: 600px){
    .icon-mobile{
        padding-top: 2rem;
        display: block;
    }
    .banner{
        height: 100vh;
    }
    .menu-pc{
        display: none;
    }
    .banner-text{
        top: 20rem;
    }
    .banner-text h1{
        font-size: 4rem;
    }
    .banner-text p{
        font-size: 1rem;
    }
    .banner-icons{
        font-size: 1.8rem;
        top: 17rem;
    }
}